html,body { font-family: Helvetica, Arial, sans-serif; overflow: hidden; width: 100%; min-height: 100%; }
#content { width: 100%; min-height: 100%; position: relative; text-align: center; padding: 50px 0 0 0; text-shadow: 0px 0px 5px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF, 0px 0px 5px #FFF;}
#version { position: absolute; font-size: 8px; top:4px; left: 4px; color: red; z-index:9999; font-weight: bold; }
#touchStart { position: relative; font-size: 24px; margin: 50px auto; padding: 0 10px; color: red; z-index:9999; font-weight: bold;text-align: center;}
#days { font-size: 72px; line-height: 72px; font-weight: bold; margin: 0; color: red; }
#time { width: 100%; text-align: center; font-size: 24px; line-height: 47px; }
  #hours { margin: 0 20px 0 0; display: inline-block; }
  #minutes { margin: 0 20px 0 0; display: inline-block; }
  #seconds { display: inline-block; }
#countdown { width: 100%; height: 140px; text-align: center; font-size: 24px; line-height: 47px; }
#countdown img {  }
#weather { width: 100%; text-align: center;font-size: 22px; line-height: 26px; color: #FFF; text-shadow: 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000; }
#weather img { position: relative; top: 10px; }